---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Burak Music">
  <main
    id="adres-section"
    class="flex flex-col px-6 lg:px-10 justify-center mt-12 lg:max-w-[1000px] mx-auto lg:mt-24 mb-12 text-center"
  >
    <h2 class="!text-3xl font-bold my-6">About Us</h2>
    <p class="">
      We were founded in 2017 as Burak Music. Since then, we have witnessed countless people's most beautiful days.
    </p>
    <h2>Welcome!</h2>
    <p>
      We greet you with warm melodies and unforgettable notes in your most special moments! We are proud to be with you
      at your weddings, which will be remembered with the name "Burak Music".
    </p>

    <h2>Who Are We?</h2>
    <p>
      As the "Burak Music" Orchestra, we are a team of experienced and passionate musicians aiming to offer you an
      unforgettable music experience. With our wide repertoire, we present a perfect blend of old and new, classical and
      popular music.
    </p>

    <h2>The Magic of Music</h2>
    <p>
      We understand how important music is on your wedding day. That's why we bring your atmosphere to life with our
      quality instruments and special repertoire. We are here to make your moments filled with love, romance, and fun
      unforgettable.
    </p>

    <h2>Our Repertoire</h2>
    <p>
      As "Burak Music," we offer a wide repertoire. We play various genres for you, including classical Turkish music,
      classical Turkish folk music, jazz, pop, and rock. We listen to your requests and crown your most special moments
      with music.
    </p>

    <h2>Contact Us</h2>
    <p>
      Reach out to us to turn your dream wedding music into reality. We look forward to listening to you and being by
      your side on your special day. Experience the magic of music with "Burak Music"!
    </p>

    <p>Contact: 0555 555 55 55</p>
  </main>
</Layout>

<style>
  p {
    @apply text-lg font-medium text-center mt-4;
  }
  h2 {
    @apply text-center text-2xl font-bold mt-12;
  }
</style>
