---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Bayındır Burak Music">
  <main id="adres-section" class="flex flex-col px-6 lg:px-10 justify-center mx-auto mt-12 lg:mt-24 text-center">
    <h2 class="text-3xl font-bold my-6">İletişim</h2>
    <p class="text-lg font-semibold">You can reach us at 0555 55 55 55</p>
    <p class="text-lg font-semibold">
      You can also send a message via WhatsApp by <a
        class="underline text-green-900"
        href="https://wa.me/905555555555?text=I%20want%20to%20get%20information%20about%20Burak%20Music"
        target="_blank">clicking here</a
      >
    </p>
  </main>
</Layout>
