---

---

<div
  class="lg:hidden flex rounded-full bg-white border border-gray-200 shadow-lg mt-10 mx-8 py-2 px-4 justify-center align-middle items-center"
>
  <img src="/logo.png" alt="logo" class="h-10" />
  <h1 id="mobile-heading" class="text-center mx-4">
    <a href="/">Burak Music</a>
  </h1>
</div>

<style>
  #mobile-heading {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
</style>
